#header {
  padding: 5px 0px 5px 30px;
}
#under-maintenance-container {
  height: 30%;
  color: white;
  padding: 20px 20px 10px 20px;
  font-family: Impact, Charcoal, sans-serif;
  background-color: #4ec0ca;
  text-align: center;
}

#gamecontainer {
  height: 70%;
}

#footer {
  width: 100%;
}

h1 { font-size: 46px; } 
h2 { font-size: 20px; }

@media screen and (max-width: 640px) {
  h1 { font-size: 26px}
  h2 { font-size: 14px}
}